extends layout
block content
    h3 请输入访问链接
    div
      textarea(rows="3")#srcUrl
    h3 请添加替换规则
    div
      h4 替换前(规则之间请换行)
      textarea(rows="5")#ruleSrc
    div
      h4 替换后(规则之间请换行，和替换前规则一一对应)
      textarea(rows="5")#ruleTarget
    div
      input(type="button", value="生成链接")#getTargetUrl
    div
      h3 生成目标链接
      textarea(rows="3")#targetUrl
    div
      a(href="#",target="_blank")#targetUrlA 点击访问